
html, body{
    background-color: #E5DFF4;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.nav-menu{
    background-color: black;
    padding: 4px;
}

.logo-f5{
    width: 160px;
    height: 65px;
}

.img-logo{
    width: 40%;
}

.nav-menu ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-right: 50px;
    font-family:'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight: bold;
}

.nav-menu li{
    padding: 10px;
}

.nav-menu li:hover{
    background-color: #4311B9;
    border-radius: 20px;
    box-shadow: 0 2px 20px #E5DFF4;
}

.nav-menu a{
    color: #ccc;
    text-decoration: none;
}
main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 4em 2em;
  gap: 2em;
  max-width: 1200px;
  margin: 0 auto;
  flex: 1;
}

.programar {
  flex: 1;
  background-color: rgba(178, 149, 246, 0.3); /* lila transparente */
  padding: 2em;
  border-radius: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.fotos {
  width: 100%;
  max-width: 500px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  justify-self: center;

}
.programar h2 {
  font-size: 2em;
  color: #4311B9;
  margin-bottom: 1em;
  padding: 0.5em 1em;
  border-radius: 20px;
  background-image: linear-gradient(to right, #b295f6, #7ec8e3); /* degradado lila-azul */
  color: white;
  display: inline-block;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.programar p{
    font-size: 1.1em;
    line-height: 1.6;
    color: #333
}
footer {
  width: 100%;
  background-color: black;
  color: #ccc;
  text-align: center;
  padding: 10px 0;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}
