*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}


.titulo-contenedor-general{
    color: white;
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin-bottom: 40px;
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
}

.caja-video{
    box-shadow: 0 6px 8px rgb(156, 89, 238);
    border-radius: 10px;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.caja-video:hover{
    transform: scale(1.05);
    box-shadow: 0 6px 16px rgb(156, 89, 238);
}

.caja-video iframe{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    aspect-ratio: 16/9;
}

/* El aspect ratio o relación de aspecto en castellano, describe la relación proporcional de un elemento entre su ancho y alto. En vídeos lo mejor es 16:9 */

